body {
    background-color: rgb(219, 233, 226);
    text-align: center;
    font-size: 15px;
}

.maincontainer {
    background-color: rgba(92, 177, 177, 0.774);
    box-shadow: 0 0 3px rgb(29, 51, 59);
    margin: 5% auto;
    width: 90%;
    border-radius: 20px;
}

#iframecontainer {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

iframe {
    width: 80%;
    height: 300px;
    margin: 0 auto 25;
}

h1 {
    background: rgb(38, 114, 117);
    color: rgb(219, 233, 226);
    margin: 0;
    padding: 10px 100px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; 
}

h3 {
    font-size: 17px;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: normal;
}

#convert {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 5px auto;
    background: rgb(203, 213, 216);
    border-radius: 5%;
    width: 120px;
    height: 40px;
    font-size: 15px;
}

#conversions {
    display: none;
}

/* .unitInfo {
    position: absolute;
    border: 1px solid black;
    background: rgb(219, 233, 226);
} */

/* #fInfo, #cInfo, #kInfo, #rInfo {
    display: none;
    width: 500px;
    height: 500px;
} */

/* #fInfo:hover, #f:hover + #fInfo {
    display: block;
}

#cInfo:hover, #c:hover + #cInfo {
    display: block;
}

#kInfo:hover, #k:hover + #kInfo {
    display: block;
}

#rInfo:hover, #r:hover + #rInfo {
    display: block;
} */